.card {
  position: relative;
  margin: 0;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 1rem;
  overflow: hidden;
  background: var(--card-bg);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

