.place-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1.5rem;
  width: 95%;
  max-width: 40rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background: var(--card-bg);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

