.main-navigation__menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 2.5rem;
  height: 2.5px;
  background: var(--text-main);
}

.main-navigation__title {
  color: var(--text-main);
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 1.75rem;
}

.main-navigation__logo-link {
  text-decoration: none;
  color: var(--text-main);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-navigation__logo-icon {
  width: 2rem;
  height: 2rem;
  color: var(--primary);
  transition: transform 0.3s ease;
}

.main-navigation__logo-link:hover .main-navigation__logo-icon {
  transform: translateY(-3px) scale(1.1);
}

.main-navigation__title a:hover {
  color: var(--primary);
}


.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 1024px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}